In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as pdr
from nsepy import get_history
from datetime import date

In [32]:
start = '2010-01-01'
end = '2019-12-31'
# sbin = get_history(symbol="SBIN", start=date(2015,1,1), end=date(2015,1,31))
from nsepython import *
# print(indices)
# positions = nsefetch('https://www.nseindia.com/api/equity-stockIndices?index=SECURITIES%20IN%20F%26O')
# df = pd.DataFrame(positions['data'])
# df = df.loc['ACC'][0]

# df = pdr.DataReader('AAPL', 'yahoo', start, end)
# df

In [62]:
# symbol = "SBIN"
# series = "EQ"
# start_date = "01-04-2015"
# end_date ="31-12-2023"
# # sbi = equity_history(symbol,series,start_date,end_date)
# df = pd.DataFrame(equity_history(symbol,series,start_date,end_date))
# df

# symbol = "NIFTY 50"
# start_date = "01-Mar-2011"
# end_date = "07-Jun-2021"
# df =(index_history(symbol,start_date,end_date))
# df

In [61]:
df

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_ISIN,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA
0,6565d67eeebd226fdec8427f,SBIN,EQ,N,565.20,561.10,563.60,564.45,564.80,560.35,...,INE062A01020,2023-11-28,2023-11-27T18:30:00.000Z,2023-11-28T12:01:02.816Z,2023-11-28T12:01:02.816Z,0,None,563.42,28-Nov-2023,NaN
1,656727ff45164acaeba00300,SBIN,EQ,N,569.00,565.10,568.00,568.60,568.35,564.45,...,INE062A01020,2023-11-29,2023-11-28T18:30:00.000Z,2023-11-29T12:01:03.092Z,2023-11-29T12:01:03.092Z,0,None,567.58,29-Nov-2023,NaN
2,6568797e1ea8db58784026de,SBIN,EQ,N,570.20,563.65,569.75,564.75,565.15,568.60,...,INE062A01020,2023-11-30,2023-11-29T18:30:00.000Z,2023-11-30T12:01:02.569Z,2023-11-30T12:01:02.569Z,0,None,566.22,30-Nov-2023,NaN
3,6569cafed3a7a71b97dddf06,SBIN,EQ,N,574.20,566.55,567.00,571.75,571.85,564.75,...,INE062A01020,2023-12-01,2023-11-30T18:30:00.000Z,2023-12-01T12:01:02.855Z,2023-12-01T12:01:02.855Z,0,None,571.83,01-Dec-2023,NaN
4,656dbf7fd80444e5381699b8,SBIN,EQ,N,596.00,584.55,588.00,594.70,595.90,571.75,...,INE062A01020,2023-12-04,2023-12-03T18:30:00.000Z,2023-12-04T12:01:03.465Z,2023-12-04T12:01:03.465Z,0,None,590.28,04-Dec-2023,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,641eb352353f0e0007d24122,SBIN,EQ,N,277.00,271.35,277.00,272.05,272.50,277.15,...,INE062A01020,2015-05-05,2015-05-04T18:30:00.000Z,2023-03-25T08:39:46.882Z,2023-03-25T08:39:46.882Z,0,None,273.71,05-May-2015,NaN
2223,641eb35c5510ab0007ed954f,SBIN,EQ,N,273.60,263.25,271.45,265.40,265.90,272.05,...,INE062A01020,2015-05-06,2015-05-05T18:30:00.000Z,2023-03-25T08:39:56.977Z,2023-03-25T08:39:56.977Z,0,None,266.22,06-May-2015,NaN
2224,641eb367ff5c300007058b4d,SBIN,EQ,N,267.25,259.65,264.00,260.95,261.00,265.40,...,INE062A01020,2015-05-07,2015-05-06T18:30:00.000Z,2023-03-25T08:40:07.084Z,2023-03-25T08:40:07.084Z,0,None,263.09,07-May-2015,NaN
2225,641eb371353f0e0007d24848,SBIN,EQ,N,268.00,260.30,264.00,261.95,262.40,260.95,...,INE062A01020,2015-05-08,2015-05-07T18:30:00.000Z,2023-03-25T08:40:17.189Z,2023-03-25T08:40:17.189Z,0,None,264.33,08-May-2015,NaN
2226,641eb37bde5deb00074c344f,SBIN,EQ,N,277.20,262.60,263.40,276.05,275.50,261.95,...,INE062A01020,2015-05-11,2015-05-10T18:30:00.000Z,2023-03-25T08:40:27.257Z,2023-03-25T08:40:27.257Z,0,None,272.40,11-May-2015,NaN